body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f5f5f5;
    margin: 0;
    padding: 0;
}

.container {
    width: 400px;
    margin: 50px auto;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    padding: 30px;
    text-align: center;
}

.container {
    text-align: center;
}

.input-container {
    display: flex;
    align-items: center; /* Align items vertically in the container */
    margin-bottom: 10px;
}

.input-container input {
    flex: 1; /* Take up remaining space */
    margin-right: 10px; /* Add some space between input and button */
}

.input-container button {
    flex-shrink: 0; /* Prevent button from stretching */
}

h2 {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
}

input[type="text"] {
    width: calc(100% - 32px);
    padding: 8px;
    padding-left: 34px;
    padding-right: 26px;
    margin-bottom: 20px;
    border: 1px solid #B78E5D;
    border-radius: 5px;
    font-size: 12px;
    transition: border-color 0.3s ease;
}

input[type="text"]:focus {
    border-color: #007bff;
}

#tinyURLInput {
    width: calc(100% - 185px);
    #padding: 8px;
    padding-left: 34px;
    padding-right: 34px;
    #background-image: url('copy.png');
    background-repeat: no-repeat;
    background-position: right;
    font-size: 12px;
    transition: border-color 0.3s ease;
    background-size: auto 60%; /* Adjust this value based on your image size */
}

button {
    width: calc(100% - 300px);
    padding: 7px;
    margin-bottom: 20px;
    background-color: #BF8440;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 13px;
    transition: background-color 0.3s ease;
    display: inline-block;
}

button:hover {
    background-color: #B78E5D;
}

#tinyURLContainer {
    margin-top: 20px;
}

p {
    font-size: 16px;
    color: #333;
}

a {
    color: #007bff;
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    text-decoration: underline;
}

.logo {
    width: 70px; /* Adjust the width as needed */
    height: auto; /* Maintain aspect ratio */
    display: block;
    margin: 0 auto; /* Center the image horizontally */
    text-align: center;
}

.copy {
    width: 1px; /* Adjust the width as needed */
    height: auto; /* Maintain aspect ratio */
    display: block;
    margin: 0 auto; /* Center the image horizontally */
    text-align: center;
}

.linklong {
    padding-left: 9px;
    width: 20px; /* Adjust the width as needed */
    height: auto; /* Maintain aspect ratio */
    position: absolute;
    display: block;
    margin: 0 auto; /* Center the image horizontally */
    text-align: center;
    #left: 742px;
    transform: translate(-8%, -51%);
}

.linkshort {
    padding-left: 9px;
    width: 20px; /* Adjust the width as needed */
    height: auto; /* Maintain aspect ratio */
    position: absolute;
    display: block;
    margin: 0 auto; /* Center the image horizontally */
    text-align: center;
    #left: 742px;
    transform: translate(-8%, 29%);
}


#copyBtn {
    #padding-right: 474px;
    width: 17px; /* Adjust the width as needed */
    height: auto; /* Maintain aspect ratio */
    position: absolute;
    #top: 57%;
    #right: 854px; /* Adjust this value to position the icon correctly */
    transform: translate(1520%, -258%);
    cursor: pointer;
}

#copyBtnPressed {
    #padding-right: 474px;
    width: 17px; /* Adjust the width as needed */
    height: auto; /* Maintain aspect ratio */
    position: absolute;
    #top: 57%;
    #right: 854px; /* Adjust this value to position the icon correctly */
    transform: translate(1520%, -258%);
    cursor: pointer;
}

#loader {
    width: 100px; /* Adjust width and height according to your animation */
    height: 100px;
    margin: 0 auto; /* Center the loader */
}

#qrCodeCanvas {
   margin: 0 auto; 
}